html {
  border-left: 10px solid lightgray;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  max-width: 1000px;
}

header,
main,
footer {
  padding: 1rem 2rem;
}

.header-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.header-links > a:link {
  color: gray;
  text-decoration: underline;
}

.date,
.letter,
.post-body,
.copyright {
  color: gray;
}

.date {
  font-size: 20px;
}

.letter {
  float: left;
  line-height: 85%;
  width: .7em;
  font-size: 400%;
  font-family: georgia;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

img {
  width: 100%;
}

.main-title,
.continue {
  color: tomato;
}


.continue,
.copyright {
  text-align: right;
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}



a:link {
  color: tomato;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
